/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.text-center {
    text-align: center;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}

h1 {
    color: #333;
}

.alert.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.badge.bg-secondary {
    background-color:yellow
}

.btn.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #0056b3;
}
/* styles.css */

/* Define the animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply the animation to the targeted class */
.animated-text {
    animation: fade-in 4s ease-in-out; /* Adjust the duration and easing as desired */
}

